@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
html {
  background: #222222;
}

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 34px;
  background: #222222;
  font-weight: 300;
  opacity: 0;
  color: #222;
}

#amer {
  
}

a {
  color: #ffab00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
  border-bottom: 2px solid white;
}

p, figure {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 1.5em 0 1.5em 0;
}

::-webkit-selection {
  color: #fff;
  background: #000;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

#fh5co-page {
  overflow: hidden;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #ffab00;
  color: #fff;
  border: 2px solid #ffab00;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ffb31a !important;
  border-color: #ffb31a !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #ffab00;
  border: 2px solid #ffab00;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #ffab00;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-light {
  background: #fff;
  color: #fff;
  border: 2px solid #fff;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  background: #fff;
  border-color: #fff;
}
.btn-light.btn-outline {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-light.btn-outline:hover, .btn-light.btn-outline:focus, .btn-light.btn-outline:active {
  background: #fff;
  color: #000;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

#fh5co-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 99;
}
#fh5co-nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 0 5px 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: transparent 2px solid;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-nav ul li a:hover, #fh5co-nav ul li a:focus, #fh5co-nav ul li a:active {
  color: white;
  border-bottom: white 2px solid;
}
#fh5co-nav ul li.fh5co-active a {
  color: white;
  border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
}

#fh5co-header {
  height: 100vh;
  width: 100vw;
  position: relative;
  content: 'viewport-units-buggyfill; height:100vh; width: 100vw';
  display: table;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    height: auto !important;
    padding: 3em 0;
    width: 100vw;
    content: 'viewport-units-buggyfill; width: 100vw';
  }
}
#fh5co-header .fh5co-text-wrap {
  height: 100vh;
  width: 100vw;
  content: 'viewport-units-buggyfill; height:100vh; width: 100vw';
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  #fh5co-header .fh5co-text-wrap {
    height: auto !important;
    padding: 3em 0;
    height: 100vh;
    width: 100vw;
    content: 'viewport-units-buggyfill; height:100vh; width: 100vw';
  }
}
#fh5co-header .fh5co-intro-text {
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  text-align: center;
}
#fh5co-header h1 {
  font-size: 3.5em;
  line-height: 100px;
  font-weight: 600;
  letter-spacing: 15px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-header h1 span {
  font-family: "Playfair Display", Times, serif;
  font-style: italic;
  text-transform: none !important;
}
@media screen and (max-width: 1200px) {
  #fh5co-header h1 {
    font-size: 2.9em;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 9px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header h1 {
    font-size: 2.2em;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 9px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-header h1 {
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
#fh5co-header span {
  margin: 0;
  padding: 0;
}
#fh5co-header h2 {
  font-family: "Playfair Display", Times, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  letter-spacing: .09em;
}
@media screen and (max-width: 480px) {
  #fh5co-header h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
}

.btn-next {
  position: absolute;
  bottom: 2em;
  left: 50%;
}
@media screen and (max-width: 480px) {
  .btn-next {
    bottom: 4px;
  }
}
.btn-next a {
  display: block;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: none;
}
.btn-next a span {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn-next a i {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  color: #ffab00;
}
@media screen and (max-width: 480px) {
  .btn-next a i {
    font-size: 20px;
  }
}
.btn-next a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.btn-next a:hover span {
  color: rgba(255, 255, 255, 0.7);
}
.btn-next a:hover i {
  color: #ffab00;
}

.fh5co-bio-photo img {
  max-width: 100%;
  -webkit-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

.fh5co-project {
  height: 100vh;
  width: 100vw;
  content: 'viewport-units-buggyfill; height:100vh; width:100vw';
  display: table;
  position: relative;
}
.fh5co-project:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.03);
  width: 101%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}
.fh5co-project.no-border {
  border-bottom: none;
}
.fh5co-project.no-border:before {
  display: none;
}
@media screen and (max-width: 768px) {
  .fh5co-project {
    height: inherit !important;
    padding: 3em 0;
  }
}
.fh5co-project .fh5co-project-inner {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  content: 'viewport-units-buggyfill; height:100vh; width:100vw';
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-project .fh5co-project-inner {
    float: left;
    width: 100%;
    height: inherit !important;
    padding: 3em 0;
    width: 100vw;
    content: 'viewport-units-buggyfill; width:100vw';
  }
}
.fh5co-project .fh5co-imgs {
  height: calc(100% - 50%);
  position: relative;
}
@media screen and (max-width: 768px) {
  .fh5co-project .fh5co-imgs {
    margin-bottom: 30px;
  }
}
.fh5co-project .fh5co-imgs .img-holder-1,
.fh5co-project .fh5co-imgs .img-holder-2 {
  position: absolute;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
@media screen and (max-width: 768px) {
  .fh5co-project .fh5co-imgs .img-holder-1,
  .fh5co-project .fh5co-imgs .img-holder-2 {
    position: relative;
  }
}
.fh5co-project .fh5co-imgs .img-holder-1 img,
.fh5co-project .fh5co-imgs .img-holder-2 img {
  max-width: 100%;
  -webkit-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.fh5co-project .fh5co-imgs .img-holder-1 {
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-project .fh5co-imgs .img-holder-1 {
    right: 0;
  }
}
.fh5co-project .fh5co-imgs .img-holder-2 {
  bottom: -2em;
  right: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-project .fh5co-imgs .img-holder-2 {
    position: absolute;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-project .fh5co-imgs .img-holder-2 {
    right: 30px;
    bottom: -1em;
  }
  .fh5co-project .fh5co-imgs .img-holder-2 img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    max-width: 100%;
    height: 194px;
  }
}
.fh5co-project.fh5co-reverse .img-holder-1 {
  left: auto;
  right: 0;
}
.fh5co-project.fh5co-reverse .img-holder-1 img {
  text-align: right;
}
.fh5co-project.fh5co-reverse .img-holder-2 {
  bottom: -2em;
  right: auto;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .fh5co-project.fh5co-reverse .img-holder-2 {
    position: absolute;
    left: auto;
    right: 50px;
  }
}
@media screen and (max-width: 480px) {
  .fh5co-project.fh5co-reverse .img-holder-2 {
    right: 30px;
    bottom: -1em;
  }
  .fh5co-project.fh5co-reverse .img-holder-2 img {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    max-width: 100%;
    height: 194px;
  }
}
.fh5co-project .fh5co-text {
  padding-top: 3em;
}
.fh5co-project .fh5co-text h2 {
  color: white;
  margin-bottom: 20px;
}
.fh5co-project .fh5co-text p {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-main,
.fh5co-section {
  padding: 7em 0;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-main small,
.fh5co-section small {
  font-size: 13px;
}
#fh5co-main .fh5co-lead,
.fh5co-section .fh5co-lead {
  font-size: 26px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 768px) {
  #fh5co-main .fh5co-lead,
  .fh5co-section .fh5co-lead {
    font-size: 22px;
    line-height: 34px;
  }
}

#fh5co-footer {
  padding: 7em 0em;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
}
#fh5co-footer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  width: 101%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}

.fh5co-project-detail {
  padding: 7em 0;
  position: relative;
  color: rgba(255, 255, 255, 0.3);
}
.fh5co-project-detail:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  width: 101%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}

.fh5co-section-heading {
  margin-top: 0px;
  line-height: 38px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fh5co-section-heading .fh5co-number {
  color: rgba(255, 255, 255, 0.2);
  padding-bottom: 2px;
  margin-right: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-section-heading .fh5co-number sup {
  top: -.25em;
  position: relative;
}

.fh5co-testimony {
  padding: 0;
  margin: 0;
  border-left: none;
}
.fh5co-testimony p {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
}
.fh5co-testimony .fh5co-quote {
  margin-bottom: 10px;
}
.fh5co-testimony p cite {
  color: rgba(255, 255, 255, 0.5);
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social li a {
  padding: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  border-bottom: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-social li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.fh5co-social.fh5co-stack li {
  display: block;
}
.fh5co-social.fh5co-stack li a {
  display: block;
  padding: 5px 10px;
  border-bottom: none;
}
.fh5co-social.fh5co-stack li i {
  width: 24px;
  top: 2px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: 10px;
}

#fh5co-map {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  #fh5co-map {
    height: 250px;
  }
}

.fh5co-list-style-1 {
  padding: 0;
  margin: 0 0 1.5em 0;
}
.fh5co-list-style-1.fh5co-inline {
  float: left;
  margin-right: 3em;
}
@media screen and (max-width: 480px) {
  .fh5co-list-style-1.fh5co-inline {
    margin-right: 0px;
    float: none;
  }
}
.fh5co-list-style-1 li {
  list-style: none;
  padding-left: 2em;
  position: relative;
}
.fh5co-list-style-1 li:before {
  content: "";
  left: 0;
  top: .75em;
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  background: #ffab00;
}

.flexslider {
  background: none;
  border: none;
}
.flexslider img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.flexslider .flex-control-paging li a {
  background: white;
  box-shadow: none !important;
}
.flexslider .flex-control-nav {
  bottom: -60px;
}

.style-toggle {
  position: absolute;
  z-index: 999;
  top: 25px;
  right: 15px;
  background: black;
  width: 40px;
  height: 20px;
  border-bottom: none !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.style-toggle .fh5co-circle {
  height: 20px;
  width: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: white;
  -webkit-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  display: block;
}
.style-toggle.active .fh5co-circle {
  height: 20px;
  width: 20px;
  position: relative;
  margin-left: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: white;
  -webkit-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -ms-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -o-box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.49);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  display: block;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.btn-cta {
  padding: 20px 30px !important;
  width: 200px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .btn-cta {
    padding: 10px 30px !important;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/hourglass.svg) center no-repeat #222222;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
